.feedback-table {
  border-collapse: collapse;
}

.feedback-table th,
.feedback-table td {
  border: 1px solid #ccc;
  padding: 8px;
}

/* .react-confirm-alert-overlay {
  background-color: transparent;
  box-shadow: none;
}

.react-confirm-alert-body {
  background-color: #750d0d;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.react-confirm-alert-button-group {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.react-confirm-alert-button-group .react-confirm-alert-button {
  margin-left: 10px;
} */
