.pyyy-5 {
  /* border: 1px solid black; */
  padding: 10px;
  width: 90%;
  text-align: center;
}

.grid {
  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.col1 {
  background: linear-gradient(-135deg, #a0e5b0, #393e46);
  font-style: normal;
  font-family: "Inter";
  padding-top: 20px;
  width: 300px;
  text-align: center;
  padding-bottom: 25px;
  color: white;
  margin-top: 20px;
  margin-left: 70px;
  transition: 0.5s;
  border-radius: 15px;
}
.col2 {
  background: linear-gradient(-135deg, #a0e5b0, #393e46);
  font-style: normal;
  font-family: "Inter";
  padding-top: 20px;
  width: 300px;
  text-align: center;
  padding-bottom: 25px;
  color: white;
  margin-top: 20px;
  margin-left: 140px;
  transition: 0.5s;
  border-radius: 15px;
}
.col3 {
  display: grid;
  background: linear-gradient(-135deg, #a0e5b0, #393e46);
  font-style: normal;
  font-family: "Inter";
  padding-top: 20px;
  width: 300px;
  text-align: center;
  padding-bottom: 25px;
  color: white;
  margin-top: 20px;
  margin-left: 140px;
  transition: 0.5s;
  border-radius: 15px;
}
.col4 {
  background: linear-gradient(-135deg, #a0e5b0, #393e46);
  font-style: normal;
  font-family: "Inter";
  padding-top: 30px;
  width: 600px;
  text-align: center;
  padding-bottom: 30px;
  color: white;
  margin-top: 20px;
  margin-left: 70px;
  transition: 0.5s;
  border-radius: 15px;
  margin-bottom: 50px;
}
.col5 {
  background: linear-gradient(-135deg, #a0e5b0, #393e46);
  font-style: normal;
  font-family: "Inter";
  padding-top: 30px;
  width: 600px;
  text-align: center;
  padding-bottom: 30px;

  margin-top: 20px;
  margin-left: 70px;
  transition: 0.5s;
  border-radius: 15px;
  margin-bottom: 50px;
}
.col1:hover {
  transform: scale(1.1);
  background: linear-gradient(-135deg, #393e46, #a0e5b0);
}
.col2:hover {
  transform: scale(1.1);
  background: linear-gradient(-135deg, #393e46, #a0e5b0);
}
.col3:hover {
  transform: scale(1.1);
  background: linear-gradient(-135deg, #393e46, #a0e5b0);
}
.col4:hover {
  transform: scale(1.1);
  background: linear-gradient(-135deg, #393e46, #a0e5b0);
}
.col5:hover {
  transform: scale(1.1);
  background: linear-gradient(-135deg, #393e46, #a0e5b0);
}

.tops2 {
  text-align: center;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  padding-top: 50px;
  color: rgba(7, 2, 2, 0.95);
}
.h3 {
  text-align: center;
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bolder;
  color: rgba(7, 2, 2, 0.95);
}
.h4 {
  text-align: center;
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
}
@media only screen and (max-width: 750px) {
  .grid {
    flex-direction: column;
    padding: 10px;
  }
  .col1,
  .col2,
  .col3,
  .col4,
  .col5 {
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
    margin-right: 0;
  }
}
