@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

/* body {
    background: #f2f2f2;
    font-family: 'Poppins', sans-serif;
} */

.social-box .box {
    background: #ffffff;
    border-radius: 10px; 
    cursor: pointer;
    margin: 20px 0;
    padding: 40px 10px;
    transition: all 0.5s ease-out;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

.social-box .box:hover {
  box-shadow: 0 5px 20px rgba(0,0,0,0.9);
}

.social-box .box-text {
    font-size: 15px;
    line-height: 30px;
    margin: 20px 0;
}

.social-box .box-btn a {
    color: #4183D7;
    font-size: 16px;
    text-decoration: none;
}

.social-box .fa {
    color: #4183D7;
}