/* .nav1 {
  border-radius: 100px;
} */
.navbar {
  /* height: 80px; */
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.navbar a {
  /* color: rgb(27, 106, 137); */
  margin-right: 20px;
  justify-content: flex-end;
}

.navbar a:hover {
  background-color: #01959a;
  color: #fff;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
}

.logo {
  color: #66cccc;
  width: 80px;
  border-radius: 50px;
}

.nav-item {
  font-size: 1.2rem;
  font-weight: 700;
}
.dropdown-menu a {
  text-decoration: none;
}

.dropdown-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-nav .nav-link {
  font-family: Roboto, sans-serif;

}






