.new-container {
  width: 100%;
  max-width: 650px;
  /* background: rgba(79, 207, 94, 0.5); */
  /* background: linear-gradient(-135deg, #a0e5b0,  #393e46); */
  background: white;

  padding: 28px;
  margin: auto; /* Add this line */
  border-radius: 10px;
  /* box-shadow: inset -2px 2px 2px rgb(48, 45, 45); */
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.new-container:hover {
  transform: scale(1);
  /* background: linear-gradient(-135deg, #393e46, #a0e5b0); */
}

.form-title {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 6px;
  color: rgb(28, 27, 27);
  /* text-shadow: 2px 2px 2px black; */
  border-bottom: solid 1px white;
}

.main-user-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}

.user-input-box:nth-child(2n) {
  justify-content: end;
}

.user-input-box {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  padding-bottom: 15px;
}

.user-input-box label {
  width: 95%;
  color: rgb(18, 16, 16);
  font-size: 20px;
  font-weight: 400;
  margin: 5px 0;
}

.user-input-box input {
  height: 40px;
  width: 95%;
  /* border-radius: 7px; */
  outline: none;
  border: 1px solid grey;
  padding: 0 10px;
  /* background-color: #dfd6d64c; */
  color: inherit;
}

.gender-category {
  margin: 15px 0;
  color: white;
}

.gender-category label {
  padding: 0 20px 0 5px;
}

.gender-category label,
.gender-category input,
.form-submit-btn input {
  cursor: pointer;
}

.form-submit-btn {
  margin-top: 40px;
}

.form-submit-btn input {
  display: block;
  width: 30%;
  margin-top: 10px;
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  color: rgb(11, 3, 3);
}

.form-submit-btn2 input {
  display: block;
  width: 30%;
  margin-top: -50px;
  margin-left: 400px;
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  color: rgb(11, 3, 3);
}

.form-submit-btn input:hover {
  background: rgba(7, 0, 0, 0.2);
  color: white;
}

.form-submit-btn2 input:hover {
    background: rgba(7, 0, 0, 0.2);
    color: white;
  }
  

.dot {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  display: inline-block;
  margin-right: 1px;
  
}
.available {
  background-color: black;
}
.booked {
  background-color: red;
}

